<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />

    <permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />

    <application
        android:icon="@drawable/voyager_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/voyager_splash_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarSkyVoyager">
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".launcher"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!--        <service-->
        <!--            android:name=".tiles.AllowScreenshots"-->
        <!--            android:exported="true"-->
        <!--            android:icon="@drawable/ic_baseline_fullscreen_24"-->
        <!--            android:label="@string/allow_screenshots"-->
        <!--            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.service.quicksettings.action.QS_TILE" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <!-- 添加新的 HighBrightnessMode 服务声明 -->
        <service
            android:name=".tiles.HighBrightnessMode"
            android:exported="true"
            android:icon="@drawable/ic_baseline_wb_sunny_24"
            android:label="@string/sunshine_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.CameraSensor"
            android:exported="true"
            android:icon="@drawable/ic_baseline_camera_24"
            android:label="@string/camera_sensor"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.MicSensor"
            android:exported="true"
            android:icon="@drawable/ic_baseline_mic_24"
            android:label="@string/mic_sensor"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>